@import '../../styles/variables.scss';

.cart {
	width: 14px;
	height: 17px;
	cursor: pointer;
	&::before {
		content: url('../../assets/icons/shop.svg');

		display: block;
		position: absolute;
		z-index: -1;
	}
	&__icon {
		@include fontMontserrat(10, 13, 500, white);
		background-color: #FF353A;
		// color: white;
		border-radius: 50%;
		width: 16px;
		height: 16px;
		@include blockCenter;
		margin: 9px 5px;
	}
}
