@import '../../styles/variables.scss';

.books {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
	pointer-events: none;
	&__list {
		position: relative;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 75px;
		margin: 46px 0;

	}
	&__item {
		width: 424px;
		height: 300px;
		pointer-events: all;
	}
	// top: 0;
}

.book {
	display: flex;
	gap: 36px;
	&__img {
		width: 212px;
		height: 100%;
		& img {
			display: block;
			width: 212px;
			height: 100%;
		}
	}
	&__detail {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 25px 0;
	}
	&__authors {
		@include fontOpenSans()
	}
	&__title {
		@include fontMontserrat(16, 20);
		margin: 4px 0;
	}
	&__description {
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 16px 0;
	}
	&__price {
		@include fontMontserrat(13, 16, 700, $colorTextBlack);
		margin-bottom: 16px;
	}
	&__buttonBuy, &__buttonBuy_inCart {
		background-color: white;
		@include fontMontserrat(8, 10, 700, $colorVioletDark);
		border: 1px solid $colorVioletDark;
		@include width-height(176px, 45px);
		text-transform: uppercase;
		cursor: pointer;
		padding: 17.5px 0;
		&_inCart {
			border-color: $colorVioletLight;
			color: $colorTextGrey;
		}
	}
}

.rating {
	display: flex;
	@include fontOpenSans();
	align-items: center;
	height: 10px;
	&__avr {
		height: 10px;
		width: 60px;
		background-color: $colorVioletLight;
		mask-image: url(../../assets/icons/star.svg);
		-webkit-mask-image: url(../../assets/icons/star.svg);
		// background: linear-gradient(to left, $colorVioletLight 65%, $colorYellow 35%);
		// mask-size: cover;
	}
	&__count {
		margin-left: 6px;
	}
}