@import '../../styles/variables.scss';

.category {
	width: 100%;
	background: linear-gradient(to left, transparent 65%, $colorVioletLight 35%);
	position: absolute;
	&__list {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 23px;
		padding: 45px 0 80px;
		z-index: 100;
	}
	&__item {
		display: flex;
		@include fontMontserrat(12, 15, 500, $colorTextGrey);
		cursor: pointer;
		&_active {
			@include fontMontserrat(16, 20, 700, $colorTextBlack);
			display: flex;
			align-items: center;
			margin-left: -20px;
			cursor: pointer;
			&::before {
				content: '';
				margin-right: 14px;
				display: flex;
				@include width-height(6px);
				border-radius: 50%;
				background-color: $colorVioletDark;
			}
		}
	}
	@media screen and (max-width: $sizeIpad) {
		background: $colorVioletLight;
		position: relative;
		&__list {
			flex-wrap: wrap;
			height: 240px;
			padding: 40px;
			gap: 30px;
			justify-content: space-between;
			width: 100%;
		}
	}
	@media screen and (max-width: $sizeMobile) {
		&__list {
			height: 420px;
		}
	}
}
